@import '~app/style/style';
// WEEK page
.weekPage {
  padding: $container-padding;
}

// WEEK <div>
.week {
  background: $background;
  box-shadow: $containerShadow;
  border-radius: $conteinerRadius;
  height: 100%;
  padding: 50px 46px;
}
.weekList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

// ONE DAY LESSONS LIST <div>
.day {
  display: flex;
  width: 19%;
  min-width: fit-content;
  flex-direction: column;

}
.dayHeader {
  font-size:$md;
  display: flex;
  justify-content: space-between;
}

.dayLessonsList {
    width: 100%;
    .lesson:nth-last-child(1) {
      .breakSpan {
        display: none;
      }
      .lessonBarTime {
        margin-bottom: 0 !important;
      }
    }
}

// SINGLE LESSON <div>  WITH BREAK(<span>) INSIDE
  .lesson {
    margin: none;
  }

  .lessonBar {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
  .lessonBarWithBreak {
    width: 100%;
  }
  .lessonBarContent {
    position: relative;
    background-color:   #FAFAFA;
    box-shadow: $lessonShadow;
    border-radius: $elementRadius;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &:hover {
        background-color: rgba(#bfbfbf, 0.8);
        transition: all 0.3s ease-out;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
      }
    &::after {
      border-radius: $elementRadius 0px 0px $elementRadius;
      position: absolute;
      content: '';
      width: 14px;
      height: 100%;
      background-color: $primary;
    }
    & h1 {
      color: #000000;
      font-size: $lg;
      margin: 0 30px;
      font-weight: $normal;
    }
  }

  .lessonBarTime {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
     span:nth-child(1) {
      font-weight: 300;
      font-size: $xs;
      line-height: 16px;
    }
      span:nth-child(2) {
        font-size: $sm;
        line-height: 28px;
        font-weight: $semiBold;
      }
  }

  .activeLesson {
    .lessonBarContent {
      background-color: #b6ab79;
      color: #000000;
      box-shadow: $activeLessonShadow;
    }
    .lessonBarTime {
      color: #000000;
    }
  }
  .endedLesson {
    .lessonBarContent {
      background-color: #F3F3F3;;
      color: #727272;
    }
    .lessonBarTime {
      background-color: #F3F3F3;;
      color: #727272;
    }
  }

  .breakSpan {
    height: 10px;
    display: block;
    // margin: 0.1em 0;
    // background: repeating-linear-gradient(-45deg, #fff, #fff 5px, rgba(#DBDBDB, 0.3) 5px, rgba(#DBDBDB, 0.3) 6px);
    background-color: #F3F3F3;
  }


.toVideoButton {
  margin: 0;
}

.weekButtons {
  width: 100%;
  text-align: center;
  margin: 50px;
  button {
    margin: 0 20px;
  }
}
.timeLine {
  position: relative;
  // div {
  //   position: absolute;
  //   transform: translateY(-50%);
  //   span {
  //     border-bottom: 1px solid black;
  //   width: 340px;
  //   position: absolute;
  //   bottom: 50%;
  //   margin-bottom: 0px;
  //   }
  // }
}



