@import '~app/style/style';

// WEEK page
.weekPage {
  padding: 0 50px;
  margin: auto;
}

// WEEK <div>
.week {
  background: $background;
  box-shadow: $containerShadow;
  border-radius: $conteinerRadius;
  height: 100%;
  padding: 4%;
  margin-top: 12px;
}

.weekList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.weekInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 35px;
  margin-top: 40px;

  p {
    color: $grey7;
    margin: 0;
  }
}

.weekNavigation {
  box-shadow: $smallContainerShadow;
  border-radius: $conteinerRadius;
  padding: 7px 42px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.weekNavigationText {
  font-weight: $normal;
  font-size: $md;
  color: $grey9;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transform: translateY(1px);
  transition: 0.2s ease-out;
  width: 170px;
  margin-right: 25px;
}

.weekNavigationBackText {
  @extend .weekNavigationText;
  color: $primary;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid $primary;
  }
}

.weekNavigationDate {
  font-weight: $normal;
  font-size: $sm;
  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }

  img:nth-child(3) {
    transform: rotate(180deg);
  }

  span {
    margin: 0 15px;
    width: 100px;
    text-align: center;
  }
}

// ONE DAY LESSONS LIST <div>
.dayClass {
  color: black;
  padding: 0 10px;

}

.dayClassCol:first-child {
  .longBreak {
    display: block;
  }

}

.daysRow {
  width: 100%;
}

.dayHeader {
  font-size: $md;
  font-weight: $normal;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span:nth-child(2) {
    color: $grey6;
    font-size: 14px;
    font-weight: $normal;
  }
}

.dayHeaderInHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.activeDay {
  .dayHeader {
    span:nth-child(1) {
      font-weight: $bold;
    }
  }
}

.dayLessonsList {
  width: 100%;

  .lesson:nth-last-child(1) {
    .breakSpan {
      display: none;
    }

    .lessonBarTime {
      margin-bottom: 0 !important;

    }
  }
}

// SINGLE LESSON <div>  WITH BREAK(<span>) INSIDE
.lesson {
  //margin: none;
  width: 100%;
}

.lessonBar {
  width: 100%;
  cursor: pointer;
  display: flex;
}

.pointer {
  cursor: pointer;
}

.lessonBarWithBreak {
  width: 100%;
}

.lessonBarContent {
  position: relative;
  background-color: #FAFAFA;
  box-shadow: $lessonShadow;
  border-radius: $elementRadius;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  padding-left: 15px;
  transition: all 0.2s cubic-bezier(0.43, 0.51, 0.63, 0.68);

  .lessonIcon {
    color: #000000;
    height: 90%;
    opacity: 0.7;
  }

  &::after {
    border-radius: $elementRadius 0px 0px $elementRadius;
    position: absolute;
    left: 0;
    content: '';
    width: 7px;
    height: 100%;
    background-color: $primary;
    opacity: 1;
  }

  & h1 {
    color: #000000;
    font-size: $sm;
    margin: 0 0 0 10px;
    font-weight: $light;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.lessonSideBar {
  margin-top: 37px;
  position: relative;
  z-index: 99;
}

.lessonSideBarTime {
  display: flex;
  flex-direction: column;
  // margin-right: 10px;
  justify-content: center;
  align-items: center;

  span:nth-child(1) {
    font-weight: 300;
    font-size: $xs;
    line-height: 16px;
  }

  span:nth-child(2) {
    font-size: $sm;
    line-height: 28px;
    font-weight: $semiBold;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.activeLesson {
  .lessonBarWithBreak {
    z-index: 2;
  }
  .activeBorder {
    z-index: 1;
    --border-width: 3px;
    border-radius: var(--border-width);
    position: relative;
    padding: 3px 3px 3px 7px;
    // background: #222;
    // z-index: 1;
    &::after {
      position: absolute;
      content: "";
      // top: calc(-1 * var(--border-width));
      // left: calc(-1 * var(--border-width));
      top: 0;
      left:0;
      z-index: -1;
      // width: calc(100% + var(--border-width) * 2);
      // height: calc(100% + var(--border-width) * 2);
      width: 100%;
    height: 100%;

      background: linear-gradient(
        60deg,
        #C3DFFE,
        #7DB7FC,
        #69A7FB,
        #5B97FC,
        #F08B2D,
        #FBA536,
        #FCE3BA,
        #FCC45B,
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 4s alternate infinite;
  }
  .lessonBarContent {
    background-color: $grey2;
    padding-left: 8px;
    &::after {
      display: none;
    }
    }
    & h1 {
      font-weight: $semiBold;
      color: #000000;
    }

    &::after {
      // background-color: white;
      opacity: 1;
    }
  }

  .lessonBarTime {
    color: #000000;
  }
}

.activeInSchedules {
  .lessonBarContent {
    & .lessonLive {
      height: 16px;
      bottom: 10px;
      position: relative;
    }

    & span {
      position: relative;
      margin: 0 10px 0 5px;
      bottom: 10px;
      font-size: 10px;
      font-style: italic;
    }
  }
}

.endedLesson {
  .lessonBarContent {
    color: #727272;

    & h1 {
      color: $grey5;
    }

    .lessonIcon {
      opacity: 0.3;
    }

    &::after {
      background-color: $grey5;
    }

  }
}

.emptyLesson {
  .lessonBarContent {
    background: repeating-linear-gradient(-45deg, #fff, #fff 5px, rgba(#DBDBDB, 0.2) 5px, rgba(219, 219, 219, 0.274) 6px);
    opacity: 0.5;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.032),
      0px 6px 16px rgba(0, 0, 0, 0.05),
      0px 9px 28px 8px rgba(0, 0, 0, 0.05);

    &::after {
      display: none;
    }

    .lessonIcon {
      display: none;
    }
  }

  .assignments,
  .editModal,
  h1 {
    display: none !important;

    &:hover {
      display: none;
    }
  }
}

.breakSpan {
  cursor: default;
  height: 10px;
  display: block;
  background: repeating-linear-gradient(-45deg, #fff, #fff 5px, rgba(#DBDBDB, 0.3) 5px, rgba(#DBDBDB, 0.3) 6px);
}

.longBreak {
  display: none;
  font-size: $xs;
  color: $grey6;
  left: -80px;
  position: relative;
  font-weight: $light;
}


.toVideoButton {
  margin: 0 16px;
  background: $secondary;
  border: none;
  &:hover{
    background: $gold7;
  }
}

.weekButtons {
  width: 100%;
  text-align: center;
  margin: 50px;

  button {
    margin: 0 20px;
  }
}

// SHCEDULE SIDEBAR WITH TIME-LINE
.lessonSideBarTimeInHome {
  pointer-events: none;
  cursor: default;

  .timeLine {
    left: 20px;
      width: 0px;
      transition: 0.5s ease-in-out;
  }

  .timeLineLong {
      width: calc(40vw) !important;
  }
}

.lessonSideBar {
  pointer-events: none;
  cursor: default;
  margin-top: 37px;
  position: relative;
  z-index: 99;

  .lessonSideBarTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:nth-child(1) {
      font-weight: 300;
      font-size: $xs;
      line-height: 16px;
    }

    span:nth-child(2) {
      font-size: $sm;
      line-height: 28px;
      font-weight: $semiBold;
    }
  }

  .timeLine {
    position: absolute;
    width: 7px;
    transition: 0.5s ease-in-out;

    @media only screen and (max-width: 990px) {
      width: calc(100vw - 130px) !important;
    }

    div {
      position: absolute;
      transform: translateY(-50%);
      left: -60px;
      font-weight: $normal;
      font-size: $xs;
      line-height: 16px;
      color: $dustRed;
      width: 100%;

      span {
        border-bottom: 1px solid $dustRed;
        left: 30px;
        position: absolute;
        width: 100%;
        bottom: 50%;
        margin-bottom: 0px;
        margin-left: 6px;

        &::after {
          position: absolute;
          content: '';
          width: 7px;
          height: 7px;
          transform: translateY(-3px);
          border-radius: 50%;
          background-color: $dustRed;
        }

        &::before {
          position: absolute;
          content: '';
          width: 7px;
          height: 7px;
          right: 0;
          transform: translateY(-3px);
          border-radius: 50%;
          background-color: $dustRed;
        }
      }
    }
  }
}

.timeLineLong {
  width: calc(100vw - 180px) !important;

}

.editModal {
  margin: 0 1em 0 0;
  width: 20px;
  opacity: 0;
  cursor: pointer;
}

.ant-modal-content {
  box-shadow: none !important;
}

.modal {
  overflow: no-content;
  background-color: #ffffff;

  div {
    box-shadow: none !important;
  }
}

.lessonBarContent:hover {
  .editModal {
    display: block;
    opacity: 1;
    transition: all 1s;
  }
}

.assignments {
  margin-left: auto;
  display: flex;
  box-shadow: none !important;
  height: 100%;
  align-items: center;

  :nth-last-child(2) {
    position: relative;
    left: 15px;
  }

  img {
    margin: 2px;
    height: 90%;
  }
}
