// WEEK <div>
.week {
  margin: 0;
}
.weekList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

// ONE DAY LESSONS LIST <div>
.day {
  display: flex;
  width: 20%;
  flex-direction: column;
}
.dayHeader {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.dayLessonsList {
    width: 100%;
    .lesson:nth-last-child(1) {
      .breakSpan {
        display: none;
      }
    }
}

// SINGLE LESSON <div>  WITH BREAK(<span>) INSIDE
  .lesson {
    margin: none;
  }

  .lessonBar {
    cursor: pointer;
    color: #000000;
    height: 45px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .lessonBarContent {
    background-color:   #FAFAFA;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &:hover {
        background-color: rgba(#bfbfbf, 0.8);
        transition: all 0.3s ease-out;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.31);
      }
  }

  .lessonBarTime {
    background-color:   #929292;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
     span:nth-child(1) {
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
      span:nth-child(2) {
        font-size: 22px;
        line-height: 28px;
      }
  }

  .activeLesson {
    .lessonBarContent {
      background-color: #b6ab79;
      color: #000000;
    }
    .lessonBarTime {
      background-color: #b6ab79;
      color: #000000;
    }
  }
  .endedLesson {
    .lessonBarContent {
      background-color: #F3F3F3;;
      color: #727272;
    }
    .lessonBarTime {
      background-color: #F3F3F3;;
      color: #727272;
    }
  }

  .breakSpan {
    height: 10px;
    display: block;
    margin: 0.1em 0;
    // background: repeating-linear-gradient(-45deg, #fff, #fff 5px, rgba(#DBDBDB, 0.3) 5px, rgba(#DBDBDB, 0.3) 6px);
    background-color: #F3F3F3;
  }


.toVideoButton {
  margin: 0;
}

.weekButtons {
  width: 100%;
  text-align: center;
  margin: 50px;
  button {
    margin: 0 20px;
  }
}
.timeLine {
  // position: relative;
  // div {
  //   position: absolute;
  //   transform: translateY(-50%);
  //   span {
  //     border-bottom: 1px solid black;
  //   width: 340px;
  //   position: absolute;
  //   bottom: 50%;
  //   margin-bottom: 0px;
  //   }
  // }
}



