.quotes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1.5rem;

  &-author {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
