@import '~app/style/style';
@import '~app/style/variables';

.item {

  &title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    // cursor: pointer;
  }

  &title:hover>.view {
    color: $secondary;
    transition: all 0.3s ease-out;
  }

  // &title>* {
  //   cursor: pointer;
  // }

  &subject {
    color: $grey6;
  }

  &topic {
    font-weight: $bold;
  }
}

.modal {
  overflow: no-content;
  background-color: #ffffff;
  // cursor: pointer;
  div {
    box-shadow: none !important;
  }
}
