
.list {
  margin: 0;
  padding: 0;
  width: 430px;
  &Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: #727272;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.1rem;
    & .activeLesson {
      background-color: #b6ab79;
      color: #000000;
    }
    & .upcomingLesson {
     background-color: #929292;
     color: #000000;
    }
    div {
      background-color: #bfbfbf;
      padding: 10px 15px;
    }
  }

  &Content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &Number {
    display: flex;
    margin-right: 10px;
    height: auto;
    align-items: center;
  }
}

.classListHeader {
  font-size: 18px;
}

.toVideoButton {
  margin: 15px;
}

