.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 8px;
  margin: 20px 0;
  margin-Left: 5%;
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 20px;
  }
p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 2px;
  color: #7A7C7F;
}

}

.right{
display: flex;
  div {
    margin-left: 8px;
  }
  .timeLeft {
    font-weight: normal;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

  }

}
