@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

body {
  font-family: 'Poppins', sans-serif;
}
