// COLORS
$background: #FFFFFF;
$primary: #5B97FC;

$blue4: #7DB7FC;

$grey2: #EFF1F5;
$grey3: #E4E6EA;
$grey5: #A3A5A9;
$grey6: #7A7C7F;
$grey7: #65676B;
$grey9: #252629;
$dustRed: #F5222D;

$gold6: #FBA536;
$gold7: #FCC45B;

// SHADOWS
$lessonShadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
0px 6px 16px rgba(0, 0, 0, 0.08),
0px 9px 28px 8px rgba(0, 0, 0, 0.05);
$activeLessonShadow: 0px 4px 4px rgba(0, 0, 0, 0.55),
0px 3px 6px -4px rgba(0, 0, 0, 0.12),
0px 6px 16px rgba(0, 0, 0, 0.08),
0px 9px 28px 8px rgba(0, 0, 0, 0.05);
$containerShadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
0px 6px 16px rgba(0, 0, 0, 0.08),
0px 9px 28px 8px rgba(0, 0, 0, 0.05);
$smallContainerShadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05);

//FONT SIZE
$xs: 12px;
$sm: 16px;
$md: 18px;
$lg: 20px;

//FONT WEIGHT

$light: 300;
$normal: 400;
$semiBold: 500;
$bold: 600;

//BORDER RADIUS
$conteinerRadius: 37px;
$elementRadius: 5px;
