@import '~app/style/variables';

.login {

  &-container {
    position: relative;
    top: 5%;
    display: flex;
    left: 5%;
    height: 90%;
    align-items: center;
    background: #fff;
    width: 50%;
    border-radius: 25px;
    flex-direction: column;
    justify-content: space-around;
  }

  &-layout {
    background: $primary;

  }

  &-image {
    position: absolute;
    z-index: 10;
    right: 5%;
    top: 20%;
  }

  &-logo {
    font-size: 2rem;
  }
}
