@import '~app/style/variables';

.ModifiedItem {
  float: right;
}

.header {
  background: #fff;
  width: 100vw;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 7px 6px 0px rgba(189, 189, 189, 0.2);
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  line-height: 58px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
}

.menu {
  color: #000;
  border: 0;
}

.cameraButton {
  background: #fff;
  border: 0px;
  position: relative;
  top: 12px;
}

.cameraStatus {
  position: relative;
  top: -38px;
  left: -5%;
  background: #f1002e;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  border: 2px solid #fff;

  &--disabled {
    position: relative;
    top: -38px;
    left: -5%;
    background: $grey6;
    width: 15px;
    height: 15px;
    border-radius: 7px;
    border: 2px solid #fff;
    cursor: not-allowed;
  }
}

.userIcon {
  color: #012365;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.item-wrapper {
  padding-right: 2rem;

  &Button {
    padding-left: 1rem;
    padding-right: 2rem;
  }
}

.join-lessonDisabled {
  cursor: not-allowed;
  pointer-events: none;
}

.joinButton {
  background: $secondary;
  border: none;

  &:hover {
    background: $gold7;
    color: $grey9;
  }
  &:active {
    background: $gold7;
    color: $grey9;
  }
  &:focus {
    background: $gold7;
    color: $grey9;
  }
}
