@import '~app/style/variables';


input:focus{outline-color: red;}

.container{
  display: flex;
  align-items: center;
  //margin-left: 50px;
}

.sendMessage{
  border: 1px solid #C1C4C7;
  box-sizing: border-box;
  border-radius: 76px;
  width: 75vw;
//form div div div div{
//  outline: none
//}
  form{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input{
    border: none;
    background-color: transparent;
    width: 66vw;
    margin-top: 22px;

  }
  button {
    background-color: $gold6;
    border-radius: 46px;
    margin: 10px;
  }
}

.avatar {
  border: 1px solid #012365;
  margin: 10px;
}
.userIcon {
  color: #012365;
}
