@import '~app/style/style';


.greeting {
  // margin: -2rem 0 2rem 2rem;
  margin: 2rem 2rem 1rem 2rem;
}

.listLoader {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.holidayCounterwrapper {
  min-height: 520px;
  max-height: 520px;
}

.homePage {
  padding: 0 50px;
  height: 100%;
  margin-top: 36px;

  .homeContent {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  // inside rounded container
  .homeRoundedBlock {
    background: $background;
    box-shadow: $containerShadow;
    border-radius: $conteinerRadius $conteinerRadius 0 0;
    height: 100%;
    padding: 3%;
    width: 60%;
    display: flex;
    flex-direction: row;

    .homeSchedule {
      display: flex;
      flex-direction: row;
      width: 60%;

      .scheduleLine {
        width: auto;
      }

      .lessons {
        width: 100%;
      }
    }

    .todoList {
      width: 40%;
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }

  /////


  // side image and quote
  .homeRightSideWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 25px;
    position: relative;
    top: -75px;
    // min-height: 520px;
    // max-height: 520px;
    .holidayCounterWrapper {
      width: 100%;

    }
  }

  // MODALS
  .homeModal {
    width: 100%;
    margin-top: 2rem;
    color: #000;
    padding: 0 7%;
    margin-bottom: 5%;

    h2 {
      // text-align: center;
      font-weight: 400;
      color: $grey9;

    }

    img {
      position: relative;
      right: 0em;
      z-index: 25;
      height: 48px;
      margin-right: 14px;
    }

    .homeModalMotivation {
      display: flex;
      padding: 1rem;
      position: relative;
      z-index: 20;
      background-color: $background;
      border-radius: $conteinerRadius;
      box-shadow: $smallContainerShadow;
    }
  }
}


.leaderboard {
  height: 52px;
  width: 52px;
  background-color: #5B97FC;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: width 0.6s;

  .trophyOne {

    svg {
      z-index: 333;
      color: #FBA536;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;

    }
  }
}


.leaderboard:hover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: width 0.6s;
  z-index: 3999;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: none;
}





.trophyTwo {
  position: absolute;

  float: right;
  top: 11px;
  right: 11px;

  svg {
    z-index: 333;
    color: #FBA536;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

  }

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.trophyList {
  list-style: none;
}

.listItems {
  display: none;
  height: 40px;
  width: 20px;
  position: absolute;
  top: 15%;
  right: 10px;
  background-color: #5B97FC;


}

.listItemsShow {
  opacity:0.95;
  display: block;
  height: 400px;
  width: 260px;
  position: absolute;
  top: 15%;
  right: 10px;
  background-color: #5B97FC;
  border-radius: 25px;
  z-index: 25;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
  display:flex;
  flex-direction: column;
  h4{
    display:inline-block;
    margin: 3em auto 0 auto;

  }
  ul{
    display: block;
    float:left;
    margin-left: -10px;
    li{
      margin: 0.8em 0;
    }
    li:first-child{
      color: $gold6;
      font-size: $lg;
      font-weight: $semiBold;
    }
    li:nth-child(2){
      color: $gold7;
      font-size: $md;
    }
    li:nth-child(3){
      color: $gold8;
      font-size: $sm;
    }
    li:nth-child(n+4){
      color: $grey9;
      font-size: $xs;
    }
  }

}


//   @media only screen and (max-width: 990px) {
//     .homePage {
//       padding: 0 50px;
//       margin-top: 36px;
//       .homeContent {
//         height: 100%;
//         flex-direction: column;
//       }

//       // inside rounded container
//       .homeRoundedBlock {
//         padding: 3% ;
//         width: 100%;
//         border-radius: $conteinerRadius;
//         .homeSchedule {
//           width: 60%;
//           .scheduleLine {
//             width: auto;
//           }
//           .lessons {
//             width: 100%;
//           }
//         }
//         .todoList {
//           width: 40%;
//           padding-left: 2rem;
//           padding-right: 1rem;
//         }
//       }
//       /////


//       // side image and quote
//       .homeRightSideWrapper {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         padding: 0 10px 0 25px;
//         position: relative;
//         top: -75px;
//         // min-height: 520px;
//         // max-height: 520px;
//         .holidayCounterWrapper {
//           width: 100%;

//         }
//       }

//       // MODALS
//       .homeModal {
//         width: 100%;
//         margin-top: 8rem;

//         h2 {
//           // text-align: center;
//           font-weight: 400;
//           color: $grey9;

//         }

//         img {
//           position: relative;
//           right: 0em;
//           z-index: 25;
//           height: 48px;
//           margin-right: 14px;
//         }

//         .homeModalMotivation {
//           display: flex;
//           padding: 1rem;
//           position: relative;
//           z-index: 20;
//           background-color: $background;
//           border-radius: $conteinerRadius;
//           box-shadow: $smallContainerShadow;
//         }

//     }
//   }
// }
// .homeModalOne {
//   background-color: $background;
//   border-radius: $conteinerRadius;
//   height: 100px;
//   width: 100%;
//   position: absolute;
//   top: 77%;
//   margin: auto;
//   z-index: 15;
//   box-shadow: $containerShadow;
// }

// .homeModalTwo {
//   background-color: $background;
//   border-radius: $conteinerRadius;
//   height: 100px;
//   width: 100%;
//   position: absolute;
//   top: 79%;
//   box-shadow: $containerShadow;
// }
// }
