@import '~app/style/style';

.welcomeHeader {
  font-size: 24px;
  color: #000000;
  margin-bottom: 70px;
}

.layout {
  background: #fff;
}

.homePage {
  padding: 0 50px;
  height: 100%;
  margin-top: 36px;
  Row {
    height: 100%;
  }

  .greeting {
    margin: -2rem 0 2rem 2rem;
  }

  .scheduleWrapper {
    background: $background;
    box-shadow: $containerShadow;
    border-radius: $conteinerRadius $conteinerRadius 0 0;
    // height: calc(100vh - 129px);
  }

  .todoList {
    margin-left: 2rem;
  }

  .home {
    background: $background;
    box-shadow: $containerShadow;
    border-radius: $conteinerRadius $conteinerRadius 0 0;
    height: 100%;
    padding: 4%;

  }

  .homeSide {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  .homeImage {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.homeModal {
  bottom: 0em;
  display: inline-block;
  flex-direction: column;
  width: 50%;
  position: absolute;
  bottom: 3%;
  left: 7%;
  width: 100%;
  color: #fff;

  h1 {
    text-align: center;
  }

  div {
    padding: 8px 2px;
  }

  img {
    position: relative;
    right: 1em;
  }

  .homeModalMotivation {
    display: flex;
    position: absolute;
    bottom: 40px;
    z-index: 20;
    background-color: $primary;
    border-radius: $conteinerRadius;
    //color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05);
  }
}

.homeModalOne {
  background-color: $primary;
  border-radius: $conteinerRadius;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 1.5em;
  margin: auto;
  z-index: 15;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.homeModalTwo {
  background-color: $primary;
  border-radius: $conteinerRadius;
  height: 100px;
  width: 100%;
  margin: auto;

  position: relative;
  bottom: 0.5em;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
