@import '~app/style/variables';

.quiz-result {
  margin: 2rem 0;
  padding: 0 1rem;
  max-width: 250px;

  &title {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
  }

  .resulttitle {
    padding: 0;
    margin: 0;
  }

  .studentsReplied {
    padding-top: 1rem;
    margin-left: 1rem;
  }

  &closed {
    margin-top: 0;
    padding: 0 1rem;
  }

  &top {
    margin-bottom: 4rem;
  }

  .time {
    font-weight: $bold;
  }

  .replywrapper {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
  }

  .badgewrapper {
    display: flex;
  }

  .question {
    color: $grey6;

    &wrapper {
      margin-top: 4rem;
    }
  }

  .badge {
    padding-right: 1rem;
  }
}
