.message {
  background-color: #e4e6ec;
  margin: 20px;
  padding: .5em;
}

.author {
  padding-left: .5em;
  font-weight: bold;
}

.timestamp {
  color: #696969;
  font-size: .7rem;
}

.top span {
  font-weight: bold;
}
