@import '~app/style/variables';

.containerR{
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-end;
  margin-right: 10px;
  .message{
    background: $primary;
    border-radius: 10px;
    padding: 8px 20px;
    min-width: 94px;
    max-width: 801px;
    p{
      color: $grey2;
    }
  }
//background: $primary;
}

.containerL{
  display: flex;
  margin-bottom: 1rem;

  .message{
    min-width: 94px;
    max-width: 701px;
    padding: 8px 20px;
    background: $grey2;
    border-radius: 10px;
  }
  //background: $grey2;
}

.avatarBox{
  display: flex;
  align-items: flex-end;
}

.message {
  background-color: #e4e6ec;
  margin: 20px;
  padding: .5em;
  display: table-cell;
  max-width: 758px;
  //min-width: 100px;
}

.author {
  padding-left: .5em;
  //Font Family: Poppins
font-size: 14px
}

.timestamp {
  color: #696969;
  font-size: .7rem;
  text-align: end;
  line-height: 0rem;
}

.top span {
  font-weight: bold;
}
.avatar {
  margin: 10px;
  background: $blue4;
}
.userIcon {
  color: white;
}
