@import '../../style/variables.scss';

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.layout {
  background: #fff;
}

.openbutton {
  transform: rotate(180deg);
  transition: all 0.5s ease-out;
}

.openbutton:hover {
  background: #fff;
}

.closebutton:hover {
  background: #fff;
}

.sider {
  background: #FFFFFF;
  // width: 582px;
  width: auto;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px 40px 20px 20px;

  button {
    margin: 10px;
    border-radius: 20px
  }

  .videobtn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      // button {
      //   background-color: #7DB7FC !important;
      //   border-color: #85b6ff;
      // }
    }

    h1 {
      margin: 0;
      margin-right: 28px;
      ;

      span {
        color: $grey6;
      }
    }
  }

  .allButtons {
    width: auto;
  }

  .usersList {
    margin-bottom: 0px;
  }

  .userRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin: 0;
    }

    img {
      height: 50px;
      margin: 5px 10px 5px 31px;
      transition: 0.3s ease-in-out;
    }
  }
}
