@import '../../style/variables.scss';

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.layout {
  background: #fff;
}

.openbutton {
  transform: rotate(180deg);
  transition: all 0.5s ease-out;
}

.openbutton:hover {
  background: #fff;
}

.closebutton:hover {
  background: #fff;
}

.sider {
  background: #FFFFFF;
  // width: 582px;
  width: auto;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px 40px 20px 20px;

  button {
    margin: 10px;
    border-radius: 20px
  }

  .videobtn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      // button {
      //   background-color: #7DB7FC !important;
      //   border-color: #85b6ff;
      // }
    }

    h1 {
      margin: 0;
      margin-right: 28px;
      ;

      span {
        color: $grey6;
      }
    }
  }

  .allButtons {
    width: auto;
  }

  .usersList {
    margin-bottom: 0px;
  }

  .userRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin: 0;
    }

    img {
      height: 50px;
      margin: 5px 10px 5px 31px;
      transition: 0.3s ease-in-out;
    }
  }
}

.acknowledgement {
  /* Rectangle 266 */
  text-align: center;
  position: absolute;
  width: 252px;
  height: 332px;
  //left: 1174px;
  bottom: 185px;

  /* White */
  //margin-top: 100%;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  border-radius: 37px;


  h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    padding-top: 1.5em;
  }

  h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

  }

  h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #5B97FC;
    margin-left: -15px;
  }


  img {
    height: 40% !important;
  }
}

.floatAcknowledgementTrue {
  transition:  all 1s;
}
.floatAcknowledgementTrue {
  transition: all 2s;


}

