@import '../../style/variables.scss';

body {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.layout {
  background: #fff;
}
.sider{
  background: #FFFFFF;
  width: 582px;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  //border-left: solid 4px rgba(0, 0, 0, 0.03);
    button {
      margin:10px;
      border-radius: 20px
  }
//}
}





