@import '~app/style/variables';
@import '~app/style/typography';

.holiday-counter {

  &board {
    width: 400px;
    position: relative;
  }

  &titleWrapper {
    color: #fff;
    position: absolute;
    font-size: $xxl;
    top: 13%;
    left: 45%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
    max-width: 100px;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &number {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 20%;
    left: 40%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &day {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 35%;
    left: 45%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &semicolon {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 26%;
    left: 47%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &hours {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 27%;
    left: 54%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &days {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 27%;
    left: 39%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }
}
