@import '~app/style/variables';
@import '~app/style/typography';

.holiday-counter {

  &board {
    height: 300px;
    width: 100%;
    // position: relative;
  }

  &wrapper {
    position: relative;
  }

  &titleWrapper {
    color: #fff;
    position: absolute;
    font-size: $xxl;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
    max-width: 100px;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &number {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 20%;
    left: 40%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &day {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 53%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &semicolon {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &hours {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 42%;
    left: 57%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }

  &days {
    color: #fff;
    position: absolute;
    font-size: $xl;
    top: 42%;
    left: 43%;
    transform: translateX(-50%);
    font-family: 'Cabin Sketch', cursive;
  }
}
