@import '~app/style/style';
@import '~app/style/variables';

.teacherModal {
  width: 100%;
  // height: auto;

  .circle {
    display: block;
    border-radius: 50%;
    padding: 1em;
    float: left;


    img {
      display: block;
      width: 45px;
    }

  }

}

.modalTop {
  width: 80%;
  margin-left: auto;
  margin-top: auto;
  min-height: 73.53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 100%;
    height: 2.5em;
    padding: 10px;
    border-radius: 4px;
  }

  p {
    // margin-bottom: -2rem;
  }


}

.textareaModal {

  textarea {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 4px;
    padding: 10px;
    margin: 2em 0;
  }
}

.selectorField {
  margin-top: 1em;

  div {

    div {

      div {

        div {

          div {
            border-radius: 4px !important;
          }
        }
      }
    }
  }

}

.inputukas {

  outline: 0;
}

.inputukas:focus {
  outline: 0;
}

.field {
  border: 1px solid $grey6;
}

.test {
  background-color: #FFCCC7;
}

.homework {
  background-color: #FCE3BA;
}
