.whiteboard {
  //margin: auto;

  .circlesColors {

    display: flex;
    margin: 0 40%;
    padding: 3px;
    width: 350px !important;
  }

  .whiteboardBoard {
    margin: 10px auto;
  }

  .whiteboardButton {

    display: block;
 margin: auto;
  }
}

