@import '~app/style/style';
@import '~app/style/variables';

.studentModal {
  width: 100%;
  padding: 0 1rem;

  .circle {
    display: block;
    padding: 0.5em 1em 0 1em;

    img {
      display: block;
      width: 45px;
    }

  }

  .subjectTopic {
    width: 85%;
    margin-top: -0.5em;
    padding-bottom: 0.5em;

    p,
    h3 {
      margin-left: 0;
    }

    h3 {
      margin-top: -1rem;
    }
  }

  .homework {
    display: block;
    height: 20px;

  }

  .homeworkField {
    display: inline-block;
    width: 100%;
    height: 150px;
    border: 2px solid $primary;
    border-radius: 2px;
    margin-top: 5%;
    padding: 1em;
  }
}

.assignmentBlock {
  display: inline-block;
  height: 28px;
  width: 100%;
  margin-top: 8px;
}

.assignmentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeWork {
  // display: inline-block;
  color: rgba(0, 0, 0, 0.65);
  background-color: #FCE3BA;
  padding: 2px 8px;
  margin: 0 0.5rem 0 0;
}

.date {
  color: $grey6;
}

.test {
  color: rgba(0, 0, 0, 0.65);
  background-color: #FFCCC7;
  padding: 2px 8px;
}

.subject {
  color: $grey6;
  position: relative;
  left: 72px;
}

.topicWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
